$color-background: #f3f0eb

$heading-font-family: "TRJNDaVinci", serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: pxToRem(80)
$header-logo-height-desktop: pxToRem(100)

$hero-background-color: none

$footer-background-color: none
$footer-logo-height: pxToRem(100)
$footer-logo-height-desktop: pxToRem(150)
$footer-icons-enabled: false

$h1-weight: normal
$h3-weight: normal