$heading-font-family: "TRJNDaVinci"
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(80)

$hero-background-color: none

$footer-background-color: none
$footer-logo-height-desktop: pxToRem(80)
$footer-icons-enabled: false

$h1-weight: normal
$h3-weight: normal